{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Formulaire {% endblock title %}

{% block body %}
<div class="container">
    <div class="m-4">
    <h1>Formulaire création rapport d'estimation</h1>
      <div>
        <h2>Estimez gratuitement votre bien !</h2>
        <p>
          Madame, Monsieur, grâce aux informations que vous allez fournir ci-dessous,
          notre négociateur, , va pouvoir faire une estimation juste de votre bien.
          Ce n’est pas un algorithme qui va estimer votre bien de manière automatique
          mais un expert qui se base sur l'historique des ventes et sur ses connaissances du marché.
        </p>

      </div>
      <div class="form-group">
        
        {{ form_start(form, {'attr': {'id': 'formestimation', 'enctype': 'multipart/form-data'}, 'action': path('app_formulaire_submit')}) }}

        <h2>Pour mieux connaître votre projet</h2>
          {{ form_row(form.name) }}
          {{ form_row(form.forname) }}
          {{ form_row(form.phone) }}
          {{ form_row(form.mail) }}
          {{ form_row(form.type) }}
          {{ form_row(form.adresse) }}
          {{ form_row(form.quartier) }}

          <h2>Caractéristiques de votre bien</h2>
          {{ form_row(form.surface) }}
          {{ form_row(form.sejour) }}
          {{ form_row(form.pieces) }}
          {{ form_row(form.chambres) }}
          {{ form_row(form.bain) }}
          {{ form_row(form.eau) }}
          {{ form_row(form.etat) }}
          {{ form_row(form.locataire) }}

          <h2>Caractéristiques de l'immeuble</h2>
          {{ form_row(form.years) }}
          {{ form_row(form.stagehome) }}
          {{ form_row(form.stage) }}
          {{ form_row(form.chauffage) }}   
          {{ form_row(form.balcon) }}
          {{ form_row(form.terrasse) }} 
          {{ form_row(form.cave) }} 

          <h2>Information complémentaire</h2>
          {{ form_row(form.parking) }}
          {{ form_row(form.garage) }}
          {{ form_row(form.view) }}
          {{ form_row(form.exposition) }}

          {{ form_end(form) }}
      </div>
    </div>
  </div>
  {% endblock %}