{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Dashboard Négociateur {% endblock title %}

{% block body %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {% set redirectRoute = 'app_home' %}
        {% if redirectRoute %}
            {% if app.user and redirectRoute %}
                {% if redirectRouteParams is defined %}
                    {% set redirectRouteParams = redirectRouteParams|default([]) %}
                    {% set redirectRouteUrl = path(redirectRoute, redirectRouteParams) %}
                {% else %}
                    {% set redirectRouteUrl = path(redirectRoute) %}
                {% endif %}
                {% if redirectRouteUrl %}
                    <script>
                        window.location.href = "{{ redirectRouteUrl|e('js') }}";
                    </script>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
<h2 class="mt-5 ml-5 mb-5">
    Bienvenue sur votre tableau de gestion de vos formulaires {{ app.user.Forname }} 🎉
</h2>

<div class="row">

    <div class="col-6">
        <div class="ml-5">
            <table>
                <thead>
                    <tr>
                        <h3>Formulaires disponibles</h3>
                    </tr>
                </thead>
                <tbody>
                    {% for formTemplate in formTemplates %}
                        <tr>
                            <td >{{ formTemplate.title }}</td>
                                <td>
                                    <br>
                                    <a class="btn btn-info ml-3" href="{{ path('app_user_show_form', {'userId': app.user.id, 'formTemplateId': formTemplate.id}) }}">Voir le formulaire</a>
                                    <br>
                                    <a class="btn btn-info ml-3 mt-2" href="{{ path('app_user_show_answers', {'formTemplateId': formTemplate.id}) }}">Afficher les réponses</a>
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-6">
        <h4> 📅 Calendrier</h4>
        <table>
            <thead>
                <tr>
                    <th>Lun</th>
                    <th>Mar</th>
                    <th>Mer</th>
                    <th>Jeu</th>
                    <th>Ven</th>
                    <th>Sam</th>
                    <th>Dim</th>
                </tr>
            </thead>
            <tbody>
                {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                            <td>{{ day ?: '' }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<div class="ml-5">
        <h3 class="mt-5">Derniers prospects :</h3>
        <table> 
            <tbody>
                {% for formTemplate in formTemplates %}
                    {% set responses = latestProspects[formTemplate.id] %}
                    {% if responses is not empty %}
                        <tr>
                            <tr rowspan="{{ responses|length }}">{{ formTemplate.title }}</tr> |
                            <tr rowspan="{{ responses|length }}">{{ responses.0.date|date('d/m/Y') }}</tr> |
                            {% for response in responses %}
                            <tr>
                                {{ response.getFormTextAnswer()}} |
                            </tr>
                        {% endfor %}
                            <tr rowspan="{{ responses|length }}">
                                <a class="btn btn-info mt-2 ml-2" href="{{ path('app_user_show_responses', {'formTemplateId': formTemplate.id, 'date': responses.0.date|date('Y-m-d')}) }}">Afficher détail</a> <br>
                            </tr>
                        </tr>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table> 
</div>

    {% endif %}
{% endblock %}
