{% extends 'base.html.twig' %}

{% block title %}Liste des réponses au formulaire {{ formTemplate.title }}{% endblock %}

{% block body %}
    <h3 class="mt-5 ml-5 mb-5">Réponses au formulaire "{{ formTemplate.title }}"</h3>

    {% if formResponses is empty %}
        <p class="mt-5 ml-5 mb-5">Aucune réponse pour le moment.</p>
    {% else %}
        
            {% for date, responses in groupedResponses %}
                {% set formattedDate = date|date('d-m-Y') %}
                    <h5 class="mt-4 ml-5 mb-4">Réponse {{ loop.index }} | {{ formattedDate }} | 
                    <a class="btn btn-info" href="{{ path('app_user_show_responses', {'formTemplateId': formTemplate.id, 'date': date}) }}">
                        Voir
                    </a>
                </h5>
                    {% endfor %}
    {% endif %}
{% endblock %}
