{% extends 'base.html.twig' %}

{% block title %}Détails de la réponse{% endblock %}

{% block body %}

<h4 class="mb-3 mt-3 ml-5 font-weight-normal">Réponse au formulaire "{{ formTemplate.title }}"</h4>

<div class="row">
    <!-- Première colonne -->
    <div class="col-sm-5 ml-5">

        {% if formResponses is empty %}
        <p>Aucune réponse pour le moment.</p>
        {% else %}
        <h4 class="mb-3 mt-3 font-weight-normal">Formulaire reçu le {{ date|date('d.m.Y') }} :</h4>
        <ul>
            {% for formResponse in formResponses %}
            <li>
                {% if formResponse.FormQuestion %}
                <p>{{ formResponse.FormQuestion.questionText }} : {{ formResponse.FormTextAnswer }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-info"
            href="{{ path('app_user_download_responses', {'formTemplateId': formTemplate.id, 'date': date }) }}">Télécharger
            en pdf</a>

            <form id="closeForm"
            action="{{ path('app_user_close_form', {'formTemplateId': formTemplate.id, 'date': date}) }}" method="post"
            onsubmit="return confirmCloseForm()">
            <button type="submit" class="btn btn-info mt-3 mb-5">Clôturer suivi</button>
        </form>
        {% endif %}
    </div>

  <!-- Deuxième colonne -->
<div class="col-sm-3">

    <h4 class="mb-3 mt-3 font-weight-normal">Suivi interne du formulaire</h4>
    <div class="timeline-date mt-3"> {{ date|date('d.m.Y') }} <br> Réception de la demande</div>

    <div class="timeline-date mt-3"> {{ date|date('d.m.Y') }} <br> En cour de traitement </div>

    <div class="form-group mt-3">
        {% if responseDate %}
            <p>{{ responseDate|date('d.m.Y') }} <br> Date de réponse d'immoval</p>
        {% endif %}
    </div>

    <div class="form-group mt-3">
        {% if relanceDate %}
            <p>{{ relanceDate|date('d.m.Y') }} <br> Date de relance </p>
        {% endif %}
    </div>

    <div class="form-group mt-3">
        {% if mandatDate %}
            <p>{{ mandatDate|date('d.m.Y') }} <br> Date de mandat </p>
        {% endif %}
    </div>
    
    <div class="form-group mt-3">
        {% if venteDate %}
            <p>{{ venteDate|date('d.m.Y') }} <br> Date de vente </p>
        {% endif %}
    </div>

    {% if not responseDate %}
    <form id="responseForm" action="{{ path('app_user_save_response_date') }}" method="post">
        <input type="hidden" name="formTemplateId" value="{{ formTemplate.id }}">
        <input type="hidden" name="date" value="{{ date }}">
        <button type="submit" class="btn btn-info mt-3">Réponse immoval</button>
    </form>
    {% endif %}

    {% if not relanceDate %}
    <form id="relanceForm" action="{{ path('app_user_save_relance_date') }}" method="post">
        <input type="hidden" name="formTemplateId" value="{{ formTemplate.id }}">
        <input type="hidden" name="date" value="{{ date }}">
        <button type="submit" class="btn btn-info mt-3">Relance</button>
    </form>
    {% endif %}

    {% if not mandatDate %}
    <form id="mandatForm" action="{{ path('app_user_save_mandat_date') }}" method="post">
        <input type="hidden" name="formTemplateId" value="{{ formTemplate.id }}">
        <input type="hidden" name="date" value="{{ date }}">
        <button type="submit" class="btn btn-info mt-3">Mandat</button>
    </form>
    {% endif %}
    
    {% if not venteDate %}
    <form id="venteForm" action="{{ path('app_user_save_vente_date') }}" method="post">
        <input type="hidden" name="formTemplateId" value="{{ formTemplate.id }}">
        <input type="hidden" name="date" value="{{ date }}">
        <button type="submit" class="btn btn-info mt-3">Vente</button>
    </form>
    {% endif %}
</div>

<!-- Troisième colonne -->
<div class="col-sm-3 card bg-warning" style="max-height: 300px;">
    <div class="card-header bg-warning">MES NOTES</div>
    <!-- Champ de texte pour les notes -->
    <textarea id="noteField_{{ formTemplate.id }}_{{ app.user.id }}" class="form-control bg-warning border-0" rows="13" cols="40"></textarea>
</div>
</div>
<script>
    // Récupérer le champ de texte pour les notes
    const noteField = document.getElementById('noteField_{{ formTemplate.id }}_{{ app.user.id }}');

    // Vérifier s'il y a des notes déjà stockées localement pour cette fiche
    const storedNotes = localStorage.getItem('userNotes_{{ formTemplate.id }}_{{ app.user.id }}');

    // Si des notes sont déjà stockées, les afficher dans le champ de texte
    if (storedNotes) {
        noteField.value = storedNotes;
    }

    // Écouter les événements de changement dans le champ de texte
    noteField.addEventListener('input', function () {
        // Récupérer le contenu des notes
        const notes = noteField.value;

        // Stocker les notes localement dans le navigateur pour cette fiche avec l'identifiant de l'utilisateur comme clé
        localStorage.setItem('userNotes_{{ formTemplate.id }}_{{ app.user.id }}', notes);
    });

    function confirmCloseForm() {
        if (confirm("Les réponses seront définitivement supprimées de la base de données. Êtes-vous certain de vouloir supprimer ces réponses ? Vous pouvez télécharger les réponses avant de clôturer ce formulaire pour garder une trace.")) {
            return true;
        } else {
            return false;
        }
    }
    
</script>
{% endblock %}
